<mat-grid-list cols="12" rowHeight="500px" style="background-color:white">
  <div fxLayout="column">
    <mat-form-field>
      <input matInput [(ngModel)]="webUserLogin.Account" placeholder="帳號" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="webUserLogin.Password" placeholder="密碼" />
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="webUserLogin.SetCookie30Day" ng-true-value=true ng-false-value=false>保持30日登入</mat-checkbox>
    <button mat-button (click)="LoginCheck()">登入</button>
  </div>
</mat-grid-list>
