  <mat-grid-list cols="12" rowHeight="1000px">
    <mat-grid-tile colspan="1" style="background-color:aqua" class="home-grid-left">
      <mat-action-list>
        <mat-list-item>
          ngFor
        </mat-list-item>
        <mat-list-item>
          ngFor
        </mat-list-item>
        <mat-list-item>
          ngFor
        </mat-list-item>
        <mat-list-item>
          ngFor
        </mat-list-item>
        <mat-list-item>
          ngFor
        </mat-list-item>
      </mat-action-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="10" style="background-color:white">
      <div>
        <button (click)="BtnTest()">测试Ａｌｅｒｔ</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" style="background-color:bisque">
      3
    </mat-grid-tile>
  </mat-grid-list>
