<div fxLayout="column" fxFlex="40" fxFlexOffset="30" style="background-color:white">
  <div fxLayoutAlign="center stretch">
    <div>
      <mat-form-field>
        <input matInput placeholder="帳號" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="密碼" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="信箱" />
      </mat-form-field>
    </div>
  </div>
  <div fxLayoutAlign="center stretch">
    <button mat-button (click)="LoginCheck()">登入</button>
  </div>
</div>
